appdirs==1.4.3
appnope==0.1.0
arrow==0.13.1
backcall==0.1.0
beautifulsoup4==4.7.1
binaryornot==0.4.4
biopython==1.73
bleach==3.1.0
bokeh==1.0.4
botocore==1.12.250
cached-property==1.5.1
camelot-py==0.7.2
cchardet==2.1.4
certifi>=2018.11.29
chardet==3.0.4
click==6.7
click-default-group==1.2
cookiecutter==1.6.0
cycler==0.10.0
datapackage==1.5.1
decorator==4.3.2
deepdiff==3.3.0
defusedxml==0.5.0
descartes==1.1.0
docutils==0.14
Elixir==0.7.1
entrypoints==0.3
et-xmlfile==1.0.1
flake8==3.7.7
fs==2.2.1
future==0.17.1
goodtables==2.1.1
idna==2.8
ijson==2.3
ipykernel==5.1.0
ipython==7.2.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isatools==0.10.3
iso8601==0.1.12
isodate==0.6.0
jdcal==1.4
jedi==0.13.2
Jinja2>=2.10.1
jinja2-time==0.2.0
jsonlines==1.2.0
jsonpickle==1.1
jsonpointer==1.14
jsonschema>=3.0.0
jupyter==1.0.0
jupyter-client>=5.3.1
jupyter-console>=6.0.0
jupyter-core==4.4.0
kiwisolver==1.0.1
libChEBIpy==1.0.8
linear-tsv==1.1.0
lxml==4.3.2
MarkupSafe==1.1.0
matplotlib==3.0.2
matplotlib-venn==0.11.5
mccabe==0.6.1
mistune==0.8.4
mizani==0.5.3
mzml2isa==1.0.1
nbconvert==5.4.1
nbformat==4.4.0
networkx==2.2
notebook>=5.7.8
numpy==1.16.1
opencv-python==4.0.0.21
openpyxl<=2.5.0
packaging==19.0
palettable==3.1.1
pandas==0.24.1
pandocfilters==1.4.2
parso==0.3.4
patsy==0.5.1
pbr==5.1.3
pdfminer.six==20181108
pexpect==4.6.0
pickleshare==0.7.5
Pillow==6.2.0
pipenv==2018.11.26
plotnine==0.5.1
poyo==0.4.2
progressbar2==3.39.2
prometheus-client==0.5.0
prompt-toolkit==2.0.8
pronto==0.12.1
ptyprocess==0.6.0
pycodestyle==2.5.0
pycryptodome==3.7.3
pyflakes==2.1.0
Pygments==2.3.1
pyparsing==2.3.1
PyPDF2==1.26.0
pyqt5<5.13
pyqtwebengine<5.13
python-dateutil==2.8.0
python-utils==2.3.0
pytz==2018.9
PyUpSet==0.1.1.post7
pyyaml>=4.2
pyzmq==17.1.2
qtconsole==4.4.3
rdflib==4.2.2
requests==2.21.0
rfc3986==1.2.0
scipy==1.2.1
Send2Trash==1.5.0
simpleeval==0.9.8
six==1.12.0
sortedcontainers==2.1.0
soupsieve==1.8
sparqlkernel==1.2.0
SPARQLWrapper==1.8.2
SQLAlchemy==1.3.0
sqlalchemy-migrate==0.12.0
sqlparse==0.2.4
statistics==1.0.3.5
statsmodels==0.9.0
tableschema==1.3.0
tabulator==1.19.0
Tempita==0.5.2
terminado>=0.8.1
testpath==0.4.2
tornado==5.1.1
traitlets==4.3.2
unicodecsv==0.14.1
upsetplot>=0.2.0
urllib3==1.26.5
virtualenv==16.4.0
virtualenv-clone==0.5.1
wcwidth==0.1.7
webencodings==0.5.1
whichcraft==0.5.2
widgetsnbextension==3.4.2
xlrd==1.2.0
xlwt==0.7.2
